.superpowers/
.dart_tool/
.idea/
build/
.DS_Store

# FVM Version Cache
.fvm/

# Dart / Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Generated
lib/l10n/generated/
coverage/
*.g.dart
*.freezed.dart
*.iml